<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.activiti.mapper.ProcessInstanceMapper">
 
	<select id="getProcessInstanceByExample"
		resultType="java.util.Map">
		SELECT
		RES.PROC_INST_ID_ as 'processInstanceId' ,
		RES.BUSINESS_KEY_  as 'businessKey',
		P.KEY_ AS 'processDefinitionKey',
		P.ID_ AS 'processDefinitionId',
		P.NAME_ AS 'processDefinitionName',
		P.VERSION_ AS 'processDefinitionVersion',
		P.DEPLOYMENT_ID_ AS 'deploymentId'
		,P.DGRM_RESOURCE_NAME_ as 'dgrmResourceName'
		,hip.START_TIME_  as 'startTime'
		,hip.END_TIME_   as 'endTime'
		,hip.duration_    as 'duration'
		,hip.start_user_id_  as 'startUserId'

		,hia.TASK_ID_   as 'taskId'
		,hia.ACT_NAME_   as 'actName'
		,hia.ACT_TYPE_  as 'actType'
		,hia.ASSIGNEE_ as 'assignee'
		FROM
		ACT_RU_EXECUTION RES
		INNER JOIN ACT_RE_PROCDEF P ON RES.PROC_DEF_ID_ = P.ID_
		JOIN ACT_HI_PROCINST hip ON hip.PROC_INST_ID_ =RES.PROC_INST_ID_
		LEFT JOIN ACT_HI_ACTINST hia ON hia.PROC_INST_ID_ =RES.PROC_INST_ID_ AND
		hia.ACT_ID_ = RES.ACT_ID_
      <where>
			RES.PARENT_ID_ IS NULL
			<if test="pid.deploymentId != null  and  pid.deploymentId != ''">
				and P.DEPLOYMENT_ID_=#{pid.deploymentId}
			</if>
			
			<if test="pid.processDefinitionId != null  and  pid.processDefinitionId != ''">
				and P.ID_ =#{pid.processDefinitionId}
			</if>
			
			<if test="pid.processDefinitionName != null  and  pid.processDefinitionName != ''">
				and P.NAME_ =#{pid.processDefinitionName}
			</if>
			
			<if test="pid.processDefinitionKey != null  and  pid.processDefinitionKey != ''">
				and P.KEY_ =#{pid.processDefinitionKey}
			</if>
			
			
			<if test="pid.assignee != null  and  pid.assignee != ''">
				and hia.ASSIGNEE_ =#{pid.assignee}
			</if>
			<if test="pid.taskId != null  and  pid.taskId != ''">
				and hia.TASK_ID_ =#{pid.taskId}
			</if>
			
			<if test="pid.actName != null  and  pid.actName != ''">
				and hia.ACT_NAME_ =#{pid.actName}
			</if>
				 

		</where>
        LIMIT  #{pid.pageSize}  OFFSET  #{pid.offset} 



	</select>
   <select id="getProcessInstanceByExampleCount" resultType="java.lang.Long" >
		SELECT
		 count(*)
		FROM
		ACT_RU_EXECUTION RES
		INNER JOIN ACT_RE_PROCDEF P ON RES.PROC_DEF_ID_ = P.ID_
		JOIN ACT_HI_PROCINST hip ON hip.PROC_INST_ID_ =RES.PROC_INST_ID_
		LEFT JOIN ACT_HI_ACTINST hia ON hia.PROC_INST_ID_ =RES.PROC_INST_ID_ AND
		hia.ACT_ID_ = RES.ACT_ID_
      <where>
			RES.PARENT_ID_ IS NULL
			<if test="pid.deploymentId != null  and  pid.deploymentId != ''">
				and P.DEPLOYMENT_ID_=#{pid.deploymentId}
			</if>
			
			<if test="pid.processDefinitionId != null  and  pid.processDefinitionId != ''">
				and P.ID_ =#{pid.processDefinitionId}
			</if>
			
			<if test="pid.processDefinitionName != null  and  pid.processDefinitionName != ''">
				and P.NAME_ =#{pid.processDefinitionName}
			</if>
			
			<if test="pid.processDefinitionKey != null  and  pid.processDefinitionKey != ''">
				and P.KEY_ =#{pid.processDefinitionKey}
			</if>
			
			
			<if test="pid.assignee != null  and  pid.assignee != ''">
				and hia.ASSIGNEE_ =#{pid.assignee}
			</if>
			<if test="pid.taskId != null  and  pid.taskId != ''">
				and hia.TASK_ID_ =#{pid.taskId}
			</if>
			
			<if test="pid.actName != null  and  pid.actName != ''">
				and hia.ACT_NAME_ =#{pid.actName}
			</if>
				 

		</where> 



	</select>





</mapper>

